.mat-chip {
  font-size: 0.875em;
  border-radius: 5px;
  padding: 2px 8px;
}

/* Priority Styles */
.low-priority-chip {
  border: solid 4px var(--low-priority-color);
  color: var(--low-priority-color);
}

.medium-priority-chip {
  border: solid 4px var(--medium-priority-color);
  color: var(--medium-priority-color);
}

.high-priority-chip {
  border: solid 4px var(--high-priority-color);
  color: var(--high-priority-color);
}

.urgent-priority-chip {
  border: solid 4px var(--urgent-priority-color);
  color: var(--urgent-priority-color);
}