.mat-chip {
  font-size: 0.875em;
  border-radius: 5px;
  padding: 2px 8px;
}

/* Task Types */
.bug-chip {
  border: solid 4px var(--bug-color);
  color: var(--bug-color);
}

.task-chip {
  border: solid 4px var(--task-color);
  color: var(--task-color);
}

.feature-chip {
  border: solid 4px var(--feature-color);
  color: var(--feature-color);
}

.epic-chip {
  border: solid 4px var(--epic-color);
  color: var(--epic-color);
}

.improvement-chip {
  border: solid 4px var(--improvement-color);
  color: var(--improvement-color);
}