<mat-dialog-content class="dialog-content">
    <form class="form-container">
        <div class="left-column">
            <app-task-title [control]="taskForm.get('title')"></app-task-title>
            <app-task-description [control]="taskForm.get('description')"></app-task-description>

            <mat-tab-group *ngIf="data.id">
                <!--- mat-tab label="Mensagems"> Mensagem </!--->
                <mat-tab label="Histórico"><app-task-history [taskId]="data.id"></app-task-history> </mat-tab>
            </mat-tab-group>
        </div>
        <div class="right-column">
            <app-task-select-type [control]="taskForm.get('type')"></app-task-select-type>
            <app-task-select-priority [control]="taskForm.get('priority')"></app-task-select-priority>
            <app-task-select-status [control]="taskForm.get('status')"></app-task-select-status>
            <app-task-due-date [control]="taskForm.get('dueDate')"></app-task-due-date>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!taskForm.valid" (click)="onSubmit()">Salvar</button>
</mat-dialog-actions>